<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1F604</string>
	<string>1F60A</string>
	<string>263A</string>
	<string>1F603</string>
	<string>1F609</string>
	<string>1F60D</string>
	<string>1F618</string>
	<string>1F61A</string>
	<string>1F633</string>
	<string>1F601</string>
	<string>1F60C</string>
	<string>1F61C</string>
	<string>1F61D</string>
	<string>1F612</string>
	<string>1F60F</string>
	<string>1F613</string>
	<string>1F614</string>
	<string>1F61E</string>
	<string>1F616</string>
	<string>1F625</string>
	<string>1F630</string>
	<string>1F628</string>
	<string>1F623</string>
	<string>1F622</string>
	<string>1F62D</string>
	<string>1F602</string>
	<string>1F632</string>
	<string>1F631</string>
	<string>1F620</string>
	<string>1F621</string>
	<string>1F62A</string>
	<string>1F637</string>
	<string>1F47F</string>
	<string>1F47D</string>
	<string>1F494</string>
	<string>1F498</string>
	<string>1F31F</string>
	<string>1F4A4</string>
	<string>1F4A6</string>
	<string>1F3B5</string>
	<string>1F525</string>
	<string>1F4A9</string>
	<string>1F44D</string>
	<string>1F44E</string>
	<string>1F44A</string>
	<string>1F446</string>
	<string>1F447</string>
	<string>1F449</string>
	<string>1F448</string>
	<string>1F4AA</string>
	<string>1F48F</string>
	<string>1F491</string>
	<string>1F466</string>
	<string>1F467</string>
	<string>1F469</string>
	<string>1F468</string>
	<string>1F47C</string>
	<string>1F480</string>
	<string>1F48B</string>
	<string>1F319</string>
	<string>1F30A</string>
	<string>1F431</string>
	<string>1F436</string>
	<string>1F42D</string>
	<string>1F439</string>
	<string>1F430</string>
	<string>1F43A</string>
	<string>1F438</string>
	<string>1F42F</string>
	<string>1F428</string>
	<string>1F43B</string>
	<string>1F437</string>
	<string>1F42E</string>
	<string>1F417</string>
	<string>1F435</string>
	<string>1F434</string>
	<string>1F40D</string>
	<string>1F426</string>
	<string>1F414</string>
	<string>1F427</string>
	<string>1F41B</string>
	<string>1F419</string>
	<string>1F420</string>
	<string>1F433</string>
	<string>1F42C</string>
	<string>1F339</string>
	<string>1F33A</string>
	<string>1F334</string>
	<string>1F335</string>
	<string>1F49D</string>
	<string>1F383</string>
	<string>1F47B</string>
	<string>1F385</string>
	<string>1F384</string>
	<string>1F381</string>
	<string>1F514</string>
	<string>1F389</string>
	<string>1F388</string>
	<string>1F4BF</string>
	<string>1F4F7</string>
	<string>1F3A5</string>
	<string>1F4BB</string>
	<string>1F4FA</string>
	<string>1F4DE</string>
	<string>1F513</string>
	<string>1F512</string>
	<string>1F511</string>
	<string>1F528</string>
	<string>1F4A1</string>
	<string>1F4EB</string>
	<string>1F6C0</string>
	<string>1F4B0</string>
	<string>1F4A3</string>
	<string>1F52B</string>
	<string>1F48A</string>
	<string>1F3C8</string>
	<string>1F3C0</string>
	<string>1F3C6</string>
	<string>1F47E</string>
	<string>1F3A4</string>
	<string>1F3B8</string>
	<string>1F459</string>
	<string>1F451</string>
	<string>1F302</string>
	<string>1F45C</string>
	<string>1F484</string>
	<string>1F48D</string>
	<string>1F48E</string>
	<string>1F37A</string>
	<string>1F37B</string>
	<string>1F378</string>
	<string>1F354</string>
	<string>1F35F</string>
	<string>1F35D</string>
	<string>1F363</string>
	<string>1F35C</string>
	<string>1F373</string>
	<string>1F366</string>
	<string>1F382</string>
	<string>1F34E</string>
	<string>1F680</string>
	<string>1F6B2</string>
	<string>1F684</string>
	<string>1F3C1</string>
	<string>1F6B9</string>
	<string>1F6BA</string>
	<string>2728</string>
	<string>2755</string>
	<string>2754</string>
	<string>270C</string>
	<string>2600</string>
	<string>2601</string>
	<string>2614</string>
	<string>26C4</string>
	<string>26A1</string>
	<string>26BD</string>
	<string>26BE</string>
	<string>26F3</string>
	<string>2615</string>
	<string>2708</string>
	<string>2B55</string>
	<string>274C</string>
	<string>00A9</string>
	<string>00AE</string>
	<string>2122</string>
</array>
</plist>
